services:
  - type: web
    name: college-lost-found-api
    env: node
    rootDir: server
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.9.0
      - key: PORT
        value: 10000

  - type: web
    name: college-lost-found-client
    env: static
    rootDir: client
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: NODE_VERSION
        value: 20.9.0
